@import './breakpoints';

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.container {
  @include respond-above(xs) {
    margin: 0 auto;
    max-width: 540px;
  }

  @include respond-above(sm) {
    max-width: 720px;
  }

  @include respond-above(md) {
    max-width: 960px;
  }

  @include respond-above(lg) {
    max-width: 1140px;
  }
}
